<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FAVICON -->
    <title>PowerMusic</title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar')%>
        <div class="container cont">
            <img src="img/header-img.jpg" class="img-height img-thumbnail mt-5 mb-5" alt="asdsadsa">
            <div class="row">
                <div class="col-3">
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">¡Todo lo que buscas!</div>
                        <div class="card-body">
                            <h4 class="card-title">Variedad</h4>
                            <p class="card-text">
                                Amplia gama de instrumentos musicales y equipos electrónicos
                                de distintas marcas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">¡Garantía!</div>
                        <div class="card-body">
                            <h4 class="card-title">Calidad</h4>
                            <p class="card-text">
                                ¡Aseguramos gran calidad en nuestros productos y garantía en caso
                                de fallos hasta 2 años!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">¡El mejor servicio!</div>
                        <div class="card-body">
                            <h4 class="card-title">Asesoramiento</h4>
                            <p class="card-text">
                                Si no estás convencido de tu compra, nuestros profesionales podrán darte
                                la seguridad que buscas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">¡Entregas a domicilo!</div>
                        <div class="card-body">
                            <h4 class="card-title">Delivery</h4>
                            <p class="card-text">
                                Si no puedes acudir a nuestras sucursales de forma presencial ¡Te lo
                                llevamos a donde estés!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/footer')%>
</body>

</html>