<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosostros</title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar')%>
        <div class="container">
            <div class="jumbotron mt-5">
                <h1 class="display-2">¡Conócenos más!</h1>
                <hr class="my-4">
                <h1 class="display-4">Nuestra trayectoria</h1>
                <p class="lead">
                    PowerMusic fue fundada el 15 de julio de 2001 bajo la dirección de Rodrigo Adriasola
                    (actual director y gerente general),
                    Matías Alarcón (actual gerente de finanzas y recursos humanos)
                    y Víctor Aceituno (gerente de servicio atención clientes y logística). <br>
                    Actualmente poseemos varias sucursales a lo largo de todo Chile, siendo Santiago
                    sede de nuestra casa matriz. <br>
                    Puedes visitar nuestra casa central en calle Lord Cochrane 1859, Santiago Centro.
                </p>
                <hr class="my-4">
                <h1 class="display-4">Nuestra misión</h1>
                <p class="lead">
                    Nuestra misión en PowerMusic es llevar la música a todos los rincones de nuestro país.
                    A comienzos del 2000, los equipos e instrumentos musicales debían ser adquiridos
                    en puntos muy específicos y de forma presencial, es por esta razón que PowerMusic ha ido
                    un paso más allá, proponiendo ser el principal proveedor de nuestros clientes, asegurando
                    compromiso y calidad. <br> Actualmente, tenemos varias sucursales tanto al norte como
                    al sur de nuestro país, por lo que poco a poco, hemos visto nuestro objetivo cumplirse
                    lento, pero seguro. <br> Sin embargo, esto no termina aqui, ¡ya que pretendemos llegar
                    a todos los rincones del mundo!
                </p>
                <hr class="my-4">
                <h1 class="display-4">Nuestros servicios</h1>
                <p class="lead">
                    En PowerMusic estamos orgullosos de ofrecer a nuestros clientes los mejores y más
                    reconocidos productos, y es por esto, que contamos con variados profesionales que
                    nos ayudan a asegurar nuestros lineamientos de calidad. <br>
                    Tenemos servicio de asesoramiento, tanto en instrumentos musicales como de equipamiento
                    electrónico, además, al adquirir un producto en PowerMusic, obtienes automáticamente
                    una garantía dos años, los cuales te permiten de forma gratuida acceder a servicios
                    de luthier y reparaciones de equipos dañados.
                    En caso de presentar fallos de fábrica, PowerMusic reemplazará sin costo el equipo
                    dañado.
                </p>
                <hr class="my-4">
                <h1 class="display-4">Nuestro futuro</h1>
                <p class="lead">
                    En PowerMusic nunca paramos de aprender y seguir creciendo como compañía, por lo que
                    nuestra visión a futuro es clara y precisa. Queremos que todos tengan acceso al arte
                    musical. Es por esto que queremos contarte que PowerMusic esta realizando todos los
                    trámites, tanto legales como financieros, para aliarse con las principales instituciones
                    académicas en nuestro país, para promover el arte y el desarrollo musical de los jóvenes
                    talentos de nuestro Chile. <br>
                    Sabemos que no será una tarea fácil, pero creemos firmemente, que con la música podemos
                    construir un mundo mejor.
                </p>
            </div>
        </div>
        <%- include('partials/footer')%>
</body>

</html>